<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I am in the AppComponent!</h3>
            <hr>
            <app-servers></app-servers>
            <hr> -->
            <!-- smth extra begin -->
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
            <!-- smth extra end -->
            <!-- <app-success-alert></app-success-alert>
        </div>
    </div>
</div> -->